html,
body {
  height: 100%;
}

body {
  background-image: url("../images/StarsTable_Background_withBeer.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  width: 650px;
  height: 350px;
  margin-left: auto;
  margin-right: 350px;
  margin-top: 30px;
  border-radius: 15px;
}

.callout {
  background-color: aliceblue;
  width: 600px;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  border-radius: 25px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.top-bar {
  background: transparent;
  margin-left: 8px;
  margin-right: 8px;
}

.logout-button {
  height: 55px;
  width: 100px;
  font-size: 18px;
  background-color: aliceblue;
  color: black;
}

#logo {
  height: 70px;
  width: 400px;
}

.top-bar li {
  list-style-type: none;
}

h2 {
  font-family: "Permanent Marker", cursive;
  font-size: 50px;
}

h2,
h5 {
  color: white;
  text-align: center;
}

img {
  height: 250px;
  width: auto;
}

#logo {
  margin-top: 8px;
}
