/*Profile Styles*/
html,
body {
  height: 100%;
}

body {
  background-image: url("../images/StarsTable_Background_withBeer.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

#mainContainer {
  background-color: aliceblue;
  width: 600px;
  height: fit-content;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  text-align: center;
  border-radius: 25px;
}

h2 {
  font-family: "Permanent Marker", cursive;
}

textarea {
  margin-left: 15px;
  width: 300px;
}

#submit-user {
  margin-left: auto;
  margin-right: auto;
}

#profile-image {
  width: 150px;
  height: auto;
  margin: 10px;
}
